/*
Theme Name: FMInteriour
Author: Kriss
Version: 1.0
*/

/* Variables */
$color-dark-text: #171819;
$color-accent: #93b3d8;

/*Navbar*/

/*-Nav alignment and size*/
#sidenav-overlay{
  display: none;
}
nav{
  background-color: white;
  height: 60px;
  line-height: 60px;

  .nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    #nav-pre{
      order: 0;
      flex-basis: 100px;
    }
    #nav-main{
      order: 1;
      flex-basis: 800px;
    }
    #nav-lang{
      order: 2;
      flex-basis: 100px;
      padding-left: 20px;
      margin: 0;
    }
  }
}

/*-Nav text colors and looks*/
nav{
  /*--Middle section*/
  #nav-main{
    .brand-logo{
      color: $color-dark-text !important;
      font-size: 30px;
      font-weight: 300;
    }
    li:hover{
      background-color: $color-accent;
    }
    a{
      color: $color-dark-text !important;
    }
  }
  /*--Language section*/
  #nav-lang{
    .lang-item{
      display: inline-block;
    }
    .lang-item img{
      width: auto;
    }
  }
}

/*Navbar Mobile*/

@media only screen and (max-width: 993px) {
  #nav-pre{
    display: none;
  }
  #nav-lang{
    display: none;
  }
  .side-nav{
    top: 60px;
  }
}

/*Index page*/
#main{
  margin: auto;
  width: 800px;

  .option-wrapper{
    display: flex;
    .first{
      width: 200px;
      height: 100px;
      margin: auto;
    }
    .second{
    }
  }
}

/*Quiz page*/
#quiz
{
  width: 820px;
  margin: auto;

  h3{
    margin: 20px auto 0px 10px;
  }
  ul{
    margin: 0;
  }
  .stepper.horizontal{
    height: 600px;
  }
  .stepper.horizontal::before{
    box-shadow: 0px 15px 23px -22px rgba(0, 0, 0, 1);
    z-index: 1;
  }
  .step-title{
    position: relative;
  }
  .step::after{
    display: none;
  }

  /*Room style*/
  .images{
    .card-box.checked{
      .card{
        box-shadow: 0 3px 12px 5px $color-accent;
      }
    }
    .card{
      width: 180px;
      height: 170px;
      margin: 0;
      padding: 0;
    }
    img{
      width: 180px;
      height: 170px;
    }
  }
  .icons{
    text-align: center;
    .card-box{
      height: 170px;
    }
    h3{
      color: $color-dark-text;
      font-size: 15px;
      margin: 0;
      padding-top: 15px;
      margin-bottom: 10px;
    }
    .card{
      width: 180px;
      height: auto;
     }
     img{
       width: 60px;
       margin-bottom: 15px;
     }
     .card-box.checked{
       .card{
         box-shadow: 0 3px 12px 5px $color-accent;
       }
     }
  }
  .step-content{
    z-index: 0;
    .row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .card-box{
      padding: 5px;
      width: 25%;
    }

    label{
      padding: 0;
    }
    label::before{
      display: none;
    }
    label::after{
      display: none;
    }
    button{
      background-color: $color-accent !important;
    }
  }
  .step-actions{
    position: relative;
  }
}


/*Stepper color*/
ul.stepper:not(.horizontal) .step.active::before, ul.stepper:not(.horizontal) .step.done::before, ul.stepper.horizontal .step.active .step-title::before, ul.stepper.horizontal .step.done .step-title::before {
   background-color: $color-accent !important;
}
