/*
Theme Name: FMInteriour
Author: Kriss
Version: 1.0
*/
/* Variables */
/*Navbar*/
/*-Nav alignment and size*/
/* line 14, ../sass/style.scss */
#sidenav-overlay {
  display: none;
}

/* line 17, ../sass/style.scss */
nav {
  background-color: white;
  height: 60px;
  line-height: 60px;
}
/* line 22, ../sass/style.scss */
nav .nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
/* line 28, ../sass/style.scss */
nav .nav-wrapper #nav-pre {
  order: 0;
  flex-basis: 100px;
}
/* line 32, ../sass/style.scss */
nav .nav-wrapper #nav-main {
  order: 1;
  flex-basis: 800px;
}
/* line 36, ../sass/style.scss */
nav .nav-wrapper #nav-lang {
  order: 2;
  flex-basis: 100px;
  padding-left: 20px;
  margin: 0;
}

/*-Nav text colors and looks*/
/* line 46, ../sass/style.scss */
nav {
  /*--Middle section*/
  /*--Language section*/
}
/* line 49, ../sass/style.scss */
nav #nav-main .brand-logo {
  color: #171819 !important;
  font-size: 30px;
  font-weight: 300;
}
/* line 54, ../sass/style.scss */
nav #nav-main li:hover {
  background-color: #93b3d8;
}
/* line 57, ../sass/style.scss */
nav #nav-main a {
  color: #171819 !important;
}
/* line 63, ../sass/style.scss */
nav #nav-lang .lang-item {
  display: inline-block;
}
/* line 66, ../sass/style.scss */
nav #nav-lang .lang-item img {
  width: auto;
}

/*Navbar Mobile*/
@media only screen and (max-width: 993px) {
  /* line 75, ../sass/style.scss */
  #nav-pre {
    display: none;
  }

  /* line 78, ../sass/style.scss */
  #nav-lang {
    display: none;
  }

  /* line 81, ../sass/style.scss */
  .side-nav {
    top: 60px;
  }
}
/*Index page*/
/* line 87, ../sass/style.scss */
#main {
  margin: auto;
  width: 800px;
}
/* line 91, ../sass/style.scss */
#main .option-wrapper {
  display: flex;
}
/* line 93, ../sass/style.scss */
#main .option-wrapper .first {
  width: 200px;
  height: 100px;
  margin: auto;
}

/*Quiz page*/
/* line 104, ../sass/style.scss */
#quiz {
  width: 820px;
  margin: auto;
  /*Room style*/
}
/* line 109, ../sass/style.scss */
#quiz h3 {
  margin: 20px auto 0px 10px;
}
/* line 112, ../sass/style.scss */
#quiz ul {
  margin: 0;
}
/* line 115, ../sass/style.scss */
#quiz .stepper.horizontal {
  height: 600px;
}
/* line 118, ../sass/style.scss */
#quiz .stepper.horizontal::before {
  box-shadow: 0px 15px 23px -22px black;
  z-index: 1;
}
/* line 122, ../sass/style.scss */
#quiz .step-title {
  position: relative;
}
/* line 125, ../sass/style.scss */
#quiz .step::after {
  display: none;
}
/* line 132, ../sass/style.scss */
#quiz .images .card-box.checked .card {
  box-shadow: 0 3px 12px 5px #93b3d8;
}
/* line 136, ../sass/style.scss */
#quiz .images .card {
  width: 180px;
  height: 170px;
  margin: 0;
  padding: 0;
}
/* line 142, ../sass/style.scss */
#quiz .images img {
  width: 180px;
  height: 170px;
}
/* line 147, ../sass/style.scss */
#quiz .icons {
  text-align: center;
}
/* line 149, ../sass/style.scss */
#quiz .icons .card-box {
  height: 170px;
}
/* line 152, ../sass/style.scss */
#quiz .icons h3 {
  color: #171819;
  font-size: 15px;
  margin: 0;
  padding-top: 15px;
  margin-bottom: 10px;
}
/* line 159, ../sass/style.scss */
#quiz .icons .card {
  width: 180px;
  height: auto;
}
/* line 163, ../sass/style.scss */
#quiz .icons img {
  width: 60px;
  margin-bottom: 15px;
}
/* line 168, ../sass/style.scss */
#quiz .icons .card-box.checked .card {
  box-shadow: 0 3px 12px 5px #93b3d8;
}
/* line 173, ../sass/style.scss */
#quiz .step-content {
  z-index: 0;
}
/* line 175, ../sass/style.scss */
#quiz .step-content .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 180, ../sass/style.scss */
#quiz .step-content .card-box {
  padding: 5px;
  width: 25%;
}
/* line 185, ../sass/style.scss */
#quiz .step-content label {
  padding: 0;
}
/* line 188, ../sass/style.scss */
#quiz .step-content label::before {
  display: none;
}
/* line 191, ../sass/style.scss */
#quiz .step-content label::after {
  display: none;
}
/* line 194, ../sass/style.scss */
#quiz .step-content button {
  background-color: #93b3d8 !important;
}
/* line 198, ../sass/style.scss */
#quiz .step-actions {
  position: relative;
}

/*Stepper color*/
/* line 205, ../sass/style.scss */
ul.stepper:not(.horizontal) .step.active::before, ul.stepper:not(.horizontal) .step.done::before, ul.stepper.horizontal .step.active .step-title::before, ul.stepper.horizontal .step.done .step-title::before {
  background-color: #93b3d8 !important;
}
